* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
}

header {
  position: relative;
  background-image: url("images/img-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  height: 100vh;
  width: 100%;
  -webkit-transition: 5s;
  transition: 5s;
  -webkit-animation-name: hero;
          animation-name: hero;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

header .hero-overlay {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  top: 0;
  width: 100%;
  height: 4rem;
}

header nav .logo {
  margin: 0;
  height: 100%;
  width: 10rem;
}

header nav .logo img {
  height: 100%;
  width: 100%;
}

header nav .navbar-nav {
  list-style-type: none;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .navbar-nav li {
  margin: 0 2rem;
}

header nav .navbar-nav li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
}

header nav .navbar-nav li a::after {
  content: '';
  margin: auto;
  display: block;
  opacity: 0;
  background: white;
  height: 1px;
}

header nav .navbar-nav li a:hover::after {
  -webkit-animation-name: underline;
          animation-name: underline;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

footer {
  background: #1d1d1d;
  padding: 15px 30px;
  color: white;
}

@-webkit-keyframes underline {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 80%;
    opacity: 1;
  }
}

@keyframes underline {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 80%;
    opacity: 1;
  }
}

@-webkit-keyframes hero {
  0% {
    background-image: url("images/img-1.jpg");
  }
  50% {
    background-image: url("images/img-2.jpg");
  }
  100% {
    background-image: url("images/img-3.jpg");
  }
}

@keyframes hero {
  0% {
    background-image: url("images/img-1.jpg");
  }
  50% {
    background-image: url("images/img-2.jpg");
  }
  100% {
    background-image: url("images/img-3.jpg");
  }
}

@media (max-width: 600px) {
  header {
    height: 300px;
    background-size: contain;
  }
}
/*# sourceMappingURL=style.css.map */